* {
    padding: 0;
    margin: 0;
}

.content {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

p {
    font-size: 13px;
    color: #fff;
}

.hv {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ht {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
