* {
    padding: 0;
    margin: 0;
}

header {
    margin: 5px auto;
    padding: 10px;
    background-color: blue;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style-type: none;
    font-size: 10px;
}

a,
p {
    text-decoration: none;
    color: #fff;
}

.sp {
    margin-left: 15px;
}

.input {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.fa-magnifying-glass {
    position: absolute;
    font-size: 8px;
    right: 3px;
    padding: 7px 5px 7px 5px;
    cursor: pointer;
}

input {
    width: 150px;
    outline: none;
    padding: 2px 25px 2px 5px;
    font-size: 10px;
}

.gt,
.dk,
.dn,
.lh,
.tk {
    margin-left: 15px;
}

.tk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.fa-user {
    background-color: #fff;
    width: 25px;
    font-size: 15px;
    color: #ccc;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    padding: 5px 0;
}

.fa-chevron-down {
    color: #fff;
    font-size: 8px;
}
